 header{ 
    height: 15vh; 
     position: relative; 
 
    


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(rgb(174, 150, 172) 10%, 60%, #d3d3d3 100%);
  }

.titre{
    height: 120px;
    margin-left: 130px;
    margin-top: 10px;
    text-align: center;
    
}


footer{
    height: 10vh;

}

main{
    min-height: 75vh;
    background-color: bisque;
    padding-top: 15px;
    box-sizing: border-box;
}

.logo{
    width: 35%;
    height: 100%;
    position: absolute;
}




.emplacement{
    margin-left: 10px; 
    height: 70vh;
    width: 25vh;
    border: 1px solid;
}
.li{ 
   display: inline; 
   margin-right: 200px; 
   margin-top: 20px;
   list-style-type: none; 

}