 
 body {
    width: 100vw;
    height: 100vh;
    background-color:#513830;
 }
 
    
 
 header{ 
    width: 100%;
    height: 15vh; 
    position: relative; 
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgb(136, 100, 119) 10%, 60%, #d3d3d3 100%);
  }

.logo{

    width: 30%;
    height: 100%;
   
}


h1{

   
    margin: 10px;
    font-weight: bold;
    
}

p{
    color:white;
    margin: 10px;
}

h2{

    color:#a07f6e;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
}

main{

    width: 100vw;
    background-color:#513830;
    padding-top: 30px; 
    box-sizing: border-box; 
}

footer{
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color:#ada576;

}





.sectionHaut {
    width: 90%;
    display: flex;
    padding: 10px;
   
 
}

.photoRondPara {
    width: 60%;
    
}
.emplacement_photo_miniature{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  height: 350px;
  width: 250px;
  border: 2px solid; 
  margin-right: 20px;
  position: relative; 
 
}
.flecheHaut{
    width: 50%;
    position: absolute;  
    top : 0px;
    z-index: 100;
    opacity: 1;  

}
.flecheHaut img {
    width: 50px;
}
.flecheBas{
    width: 50%;
    position: absolute; 
    bottom : 0px; 
    opacity: 1;
    transform: rotate(180deg); 
}
.flecheBas img {
    width: 50px;
}

.grandePhoto{
    
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fondu 60s ease-in-out infinite both; 
    height: 180px;
    width: 180px;
    border: 2px solid;
    border-radius:50%;
}
.conteneur{ 

    max-width: 50px;
    margin: 50px;
} 

.grandePhoto2{
    
    box-shadow: 0px 1px 10px rgb(141, 53, 53);
    background-color: #504141;
    background-size: contain; 
    animation: fondu 5s ease-in-out infinite both;
}

.grandePhoto:hover, .grandePhoto2:hover{

    animation-play-state: paused;
}

@keyframes fondu{

    5%{background-image: url("photos/photo36.JPG");}
    10%{background-image: url("photos/photo37.JPG");}
    15%{background-image: url("photos/photo38.JPG");}
    20%{background-image: url("photos/photo21.JPG");}
    25%{background-image: url("photos/photo22.JPG");}
    30%{background-image: url("photos/photo23.JPG");}
    35%{background-image: url("photos/photo24.JPG");}
    40%{background-image: url("photos/photo25.JPG");}
    45%{background-image: url("photos/photo26.JPG");}
    50%{background-image: url("photos/photo27.JPG");}
    55%{background-image: url("photos/photo28.JPG");}
    60%{background-image: url("photos/photo29.JPG");}
    65%{background-image: url("photos/photo30.JPG");}
    70%{background-image: url("photos/photo31.JPG");}
    75%{background-image: url("photos/photo32.JPG");}
    80%{background-image: url("photos/photo33.JPG");}
    85%{background-image: url("photos/photo34.JPG");}
    90%{background-image: url("photos/photo35.JPG");}
    95%{background-image: url("photos/photo2.JPG");}
    100%{background-image: url("photos/photo20.JPG");}
}

.commentaire{
    
  
    border: 2px;
}


img{ 

    width: 60px; 
    height: 60px;
    object-fit: cover;
    object-position: 50% ;

} 

#annuaire{
    
    
    margin: auto;
    border: 2px;
    display:flex;
    flex-wrap:wrap;
    align-content: center;
    flex-direction: column;
    border: 2px solid #343538;
    border-radius: 20px;

}



.boutonAppel {

    line-height: 2.5;
    padding: 12px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(239, 171, 11);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
                
}

.boutonMail {

    
    border: 1px;
    line-height: 2.5;
    padding: 12px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000; 
    border-radius: 10px;
    background-color: rgb(219, 134, 134);
    
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), 
                inset -2px -2px 3px rgba(0, 0, 0, .6); 
                
}

.boutonSortie {
  
    line-height: 2.5;
    padding: 12px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(167, 239, 11);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
                
}

.youssef, .alicia, .himed, .alioune, .ahmid, .sebastien, .alexandre, .mustapha, .cedric1,
.cedric2, .eric1, .nicolas1, .laurie, .mohamed, .nicolas2, .razzak, .samy, .eric2, .sandra{
    padding-left: 10px;
    padding-top: 10px;
    /* display: flex;
    flex-wrap: wrap; */
    border-radius: 10px;
    border:black solid;
}







 /* SITE VERSION DESKTOP*/ 
 @media (min-width: 768px) {

    .sectionHaut {
        width: 80%;
     
        display: flex;
        justify-content: space-around;
        margin: auto;
    }
    .photoRondPara{
       
        display: flex;
        flex-direction: column;
       align-items: center;
    }
    .grandePhoto {
        width: 600px;
        height: 600px;
    }
    .commentaire {
        font-size: 20px;
        text-align: justify;
        height: 200px;
        width: 600px;
    } 
    img{
        width: 300px; 
        height: 300px;
         
        } 

    .emplacement_photo_miniature{
        width: 200px;
        height: 100vh;
        z-index: 1;
           
            
           
         }
         .flecheHaut{
            width: 100px;
             z-index: 1;
            top : 0px;
            position: absolute; 
            opacity: 1;  
        
        }
        .flecheHaut img {
            width: 50px;
            height: 100px;
            z-index: 10000;
            
        }
        .flecheBas{
            width: 100px;
            position: absolute; 
            bottom : 0px; 
            opacity: 1;
            transform: rotate(180deg); 
        }
        .flecheBas img {
            width: 100px;
            height: 100px;
        }
        #annuaire {
            width: 1600px;
            margin: auto;
            display: flex;
            align-items: center;
           
            
            
            
        }
        .annu {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-around;
            gap: 20px;
           
        }
        .youssef, .alicia, .himed, .alioune, .ahmid, .sebastien, .alexandre, .mustapha, .cedric1,
.cedric2, .eric1, .nicolas1, .laurie, .mohamed, .nicolas2, .razzak, .samy, .eric2, .sandra {
    width: 400px;
   
}
    }
    