header{
    height: 15vh;

}

footer{
    height: 10vh;

}

main{
    min-height: 75vh;
    background-color: bisque;
    padding-top: 15px;
    box-sizing: border-box;
}

.logo{
    width: 45%;
    height: 100%;
}

.emplacement{
    margin-left: 10px; 
    height: 70vh;
    width: 25vh;
    border: 1px solid;
}

.nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.menu {
    
  }